<div class="container-my-work">
    <h2>My Work</h2>
    <div class="selection-switches">
        <div class="selection">All</div>
        <div class="selection">Angular</div>
        <div class="selection">JavaScript</div>
    </div>
    <div class="container-picture">
        <img src="assets/img/pexels-andrea-piacquadio-840996.jpg">
        <img src="assets/img/pexels-danny-meneses-943096.jpg">
    </div>
    <div class="container-picture">
        <div class="el-pollo-loco">
            <a href="#">Try out</a>
        </div>
        <img src="assets/img/pexels-karsten-madsen-18105.jpg">
    </div>
</div>
