.header-container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;

    img{
        height: 100px;
    }

    a{
        color: white;
        text-decoration: none;
        margin-left: 40px;
    }
}