<div (scroll)="onScrollEvent($event)" id="contactMe" class="container-contact">
    <div class="contact">
        <h1 @myH1Trigger *ngIf="isOpen">Contact me.</h1>
        <span @mySpanTrigger *ngIf="isOpen">Get in touch via the form below, or by emailing
            <span class="email-contact">sebastianebel@hotmail.de</span></span>
        <form @myFormTrigger *ngIf="isOpen" action="/send_mail.php" method="POST">
            <span>Name<span class="must-have">*</span></span>
            <input name="name" type="text" placeholder="Enter your name" required>
            <span>Email address<span class="must-have">*</span></span>
            <input name="email" type="email" placeholder="Enter your Email address" required>
            <span>Message<span class="must-have">*</span></span>
            <textarea name="message" placeholder="Enter your message" required></textarea>
            <div class="center">
                <button type="submit" class="btn">
                    <svg width="140px" height="40px" viewBox="0 0 140 40" class="border">
                        <polyline points="139,1 139,39 1,39 1,1 139,1" class="bg-line" />
                        <polyline points="139,1 139,39 1,39 1,1 139,1" class="hl-line" />
                    </svg>
                    Send
                </button>
            </div>
        </form>
    </div>
</div>