.container-imprint {
    height: calc(100vh - 370px);
    padding-top: 40px;
}

@media (max-width: 400px) {
    .container-imprint{
        h1{
            font-size: 24px;
        }

        h2{
            font-size: 16px;
        }

        p{
            font-size: 12px;
        }
    }
}