<section (scroll)="onScrollEvent($event)" id="myskills" class="container-my-skills">
    <h2 [class.h2Scroll]="scrolling">My Skills</h2>
    <div [class.container2]="scrolling" class="container-skills1">
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/java script.png">
            </div>
            JavaScript
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/icons8-angularjs-48.png">
            </div>
            Angular
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/Group 205.png">
            </div>
            HTML/CSS
        </div>
    </div>
    <div [class.container1]="scrolling" class="container-skills2">
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/Group 226.png">
            </div>
            SCRUM
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/Git-Icon-1788C 2.png">
            </div>
            Git
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/icons8-rest-api-80 2.png">
            </div>
            Rest API
        </div>
    </div>
</section>