<div id="aboutMe" class="container">
    <div class="container-explain">
        <div class="explain-me">
            <img src="assets/img/profile.png">
            <span class="short-explain">
                <h2>About me.</h2>
                "I´m someone who enjoys spending time with the family and<br>
                front end developer who loves pushing boundaries."
            </span>
        </div>
    </div>
    <div class="container-my-journey">
        <div class="my-journey">
            <div class="my-journey-pic">
                <img src="assets/img/walk-line.png">
            </div>
            <h4>MY JOURNEY BEGAN</h4>
            <span>Where I started programming as a hobby.</span>
        </div>
        <div class="my-journey">
            <div class="my-journey-pic">
                <img src="assets/img/heart-line.png">
            </div>
            <h4>I FELL IN LOVE</h4>
            <span>I really enjoyed developing software</span>
        </div>
        <div class="my-journey">
            <div class="my-journey-pic">
                <img src="assets/img/search-line.png">
            </div>
            <h4>I SEARCHED</h4>
            <span>I realized I wanted more. I wanted to turn my hobby into my job.
                So I went looking and found the Developer Academy</span>
        </div>
        <div class="my-journey">
            <div class="my-journey-pic">
                <img src="assets/img/flight-takeoff-line.png">
            </div>
            <h4>NEW CHALLENGES</h4>
            <span>I am now looking for new challenges to work
                as a software developer</span>
        </div>
    </div>
</div>