<div id="aboutMe" (scroll)="onScrollEvent($event)" class="container">
  <div class="container-explain">
    <div id="explainBorder" class="explain-me">
      <img @myImgTrigger *ngIf="isOpen" src="assets/img/profil.jpg" />
      <span @myShortTrigger *ngIf="isOpen" class="short-explain">
        <h2>About me.</h2>
        I'm a Front-End Developer who loves solving problems and taking on new
        challenges.
      </span>
    </div>
  </div>
  <div class="container-my-journey">
    <div @myBeganTrigger *ngIf="isOpen" class="my-journey">
      <div class="my-journey-pic">
        <img src="assets/img/walk-line.png" />
      </div>
      <h4>MY JOURNEY BEGAN</h4>
      <span
        >I started programming as a hobby when I was 14 and still enjoy
        programming. I quickly realized that I really enjoy it and that I would
        like to work in this field professionally in the future.
      </span>
    </div>
    <div @myFellTrigger *ngIf="isOpen" class="my-journey">
      <div class="my-journey-pic">
        <img src="assets/img/heart-line.png" />
      </div>
      <h4>I FELL IN LOVE</h4>
      <span
        >This deep insight into programming made me realize that I had made
        exactly the right decision. I love developing web applications and
        facing new challenges. I have found my passion! With every project I
        complete, with every new challenge I face, I always learn a little bit
        more and I never get bored. I invest a lot of time in coding and I love
        it!</span
      >
    </div>
    <div @mySearchedTrigger *ngIf="isOpen" class="my-journey">
      <div class="my-journey-pic">
        <img src="assets/img/search-line.png" />
      </div>
      <h4>I SEARCHED</h4>
      <span
        >At a certain point, I wanted to learn faster and more efficiently, so I
        decided to seek professional help. After a long search, I decided to
        join the Developer Academy in Munich in January 2022. Beside my main job
        I learned there in shortest time the fundamental knowledge for the
        frontend web development. I completed a lot of different projects there,
        both individually and in groups.</span
      >
    </div>
    <div @myChallengeTrigger *ngIf="isOpen" class="my-journey">
      <div class="my-journey-pic new-challenges">
        <img src="assets/img/flight-takeoff-line.png" />
      </div>
      <h4>NEW CHALLENGES</h4>
      <span
        >I would like to deepen my knowledge in the field of frontend
        development and am therefore looking for a chance to join an interesting
        team, to support this team and develop professionally as well as
        personally.</span
      >
    </div>
  </div>
</div>
