header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;

    img{
        height: 80px;
    }

    a{
        font-size: 18px;
        color: white;
        text-decoration: none;
        margin-left: 40px;

        &:hover{
            cursor: pointer;
            color: #fa2759;
            transform: scale(1.1);
        }
    }
}

.darkLinks{
    a {
        color: black;
    }

    &:hover{
        color: rgba(0, 0, 0, 0.8);
    }
}  

.headerWhite{
    z-index: 1;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}