<header [class.headerWhite]="imprintMode">
    <img *ngIf="!imprintMode" routerLink="/" src="assets/img/logo-white.png">
    <img *ngIf="imprintMode" routerLink="/" src="assets/img/logo-black.png">

    <div class="mobile-modus" [class.darkLinks]="imprintMode">
        <a routerLink="/">Home</a>
        <a (click)="toAboutMe()">About Me</a>
        <a (click)="toMyWork()">My Work</a>
        <a href="/imprint">Imprint</a>
        <a routerLink="/data-protection">Data Protection</a>
    </div>
    <div class="body">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
              <div class="main-content-wrapper">
                <a routerLink="/">Home</a>
                <a (click)="toAboutMe()">About Me</a>
                <a (click)="toMyWork()">My Work</a>
                <a href="/imprint">Imprint</a>
                <a routerLink="/data-protection">Data Protection</a>
              </div>
          </div>
      </div>
</header>