<header [class.headerWhite]="imprintMode">
    <img *ngIf="!imprintMode" routerLink="/" src="assets/img/logo-white.png">
    <img *ngIf="imprintMode" routerLink="/" src="assets/img/logo-black.png">

    <div class="mobile-modus container-link" [class.darkLinks]="imprintMode">
        <a (click)="gotoTop()" routerLink="/">Home</a>
        <a [class.d-none]="imprintMode" (click)="tomyskill()">My Skills</a>
        <a [class.d-none]="imprintMode" (click)="toMyWork()">My Work</a>
        <a [class.d-none]="imprintMode" (click)="toAboutMe()">About Me</a>
        <a [class.d-none]="imprintMode" (click)="toMyContact()">Contact Me</a>
        <a routerLinkActive="imprintMode = imprintMode" routerLink="/data-protection">Data Protection</a>
    </div>
    <div class="body">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
        <div [class.darkLinks]="imprintMode" id="sidebarMenu">
            <div class="main-content-wrapper">
                <a (click)="gotoTop()" routerLink="/">Home</a>
                <a [class.d-none]="imprintMode" (click)="tomyskill()">My Skills</a>
                <a [class.d-none]="imprintMode" (click)="toMyWork()">My Work</a>
                <a [class.d-none]="imprintMode" (click)="toAboutMe()">About Me</a>
                <a [class.d-none]="imprintMode" (click)="toMyContact()">Contact Me</a>
                <a routerLinkActive="d-none" routerLink="/data-protection">Data Protection</a>
            </div>
        </div>
    </div>
</header>